.footer{
  background-image: url(https://s3.amazonaws.com/myfangate.com/rdpuzzle/footer.jpg);
  width: 640px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 300px;
  a{
    font-family: 'PlacardMT-BoldCondensed';
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
