@font-face {
  font-family: 'PlacardMT-BoldCondensed';
  src: url('../fonts/PlacardMT-BoldCondensed.eot?') format('eot'), 
       url('../fonts/PlacardMT-BoldCondensed.woff') format('woff'), 
       url('../fonts/PlacardMT-BoldCondensed.ttf')  format('truetype'),
       url('../fonts/PlacardMT-BoldCondensed.svg#PlacardMT-BoldCondensed') format('svg');
}


body {
    color:#000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

#wrap{
      background: #fff url('https://s3.amazonaws.com/myfangate.com/rdpuzzle/background.jpg') no-repeat;
      background-position: top center;
      background-size: 640px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      
      .h1top, .h1bottom, h2{
           font-family: 'PlacardMT-BoldCondensed';
           text-transform: uppercase;
      }
      .h1top, .h1bottom{
            font-size: 35pt;
      }
      h2{
            font-size: 17pt;
            margin: -30px 0 0 30px;
      }
      .h1bottom{
        margin: 0 auto;
      }
      .header-text{
        width: 500px;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        padding-bottom: 20px;
      }
      .lower-text{
        width: 530px;
        text-transform: uppercase;
      }
      .gradient{
        background-image: url(https://s3.amazonaws.com/myfangate.com/rdpuzzle/gradient.jpg);
        background-repeat: repeat-x;
        height: 42px;
        width: 640px; 
        margin: 0 auto;
        p{
        padding-top: 10px;
        font-family: 'PlacardMT-BoldCondensed';
        text-transform: uppercase;
        font-size: 18pt;
        } 
      }
}

span{
  color: #dc54a1;
  padding: 20px;
  text-shadow: 1px 1px 10px #fff;
  font-size: 20px;
}

.jqPuzzle .jqp-piece:hover {
 border-style: solid; 
}

.puzzle, .jqpuzzle{
  margin: 0 auto !important;
}

.logo{
  padding: 20px 0 0 0;
}

.remodal-close{
  display: none;
}
