<footer>
<div class="footer">
<br><br><br>
<a href="https://docs.google.com/document/d/1JEHEighKIWrv_JcogbXhBl_RhnlFXGUL9gnJzYuFGVg/edit?usp=sharing" target="_blank">Official Rules</a>  
</div>
</footer>
