---
title: JqPuzzle
---

<div id="wrap" class="remodal-bg">
<center>
<img src="https://s3.amazonaws.com/myfangate.com/ofmiceandmen/puzzleheader.png" style="padding: 20px 0 20px 0;">
<br>
<img src="https://s3.amazonaws.com/myfangate.com/ofmiceandmen/puzzle.jpg" alt="Animals crossing" id="puzzlestyle" class="jqPuzzle" />
</div>
</center>

 <div class="remodal" id="share-modal">
    <h1>Congratulations! You've solved the puzzle!</h1>
    <h2>Click here to download your free MP3!</h2>
    <br>
    <i style="cursor:pointer; font-size: 200px;" class="fa fa-cloud-download"></i>
    <br>
    <a class="remodal-confirm modal-ok-style" href="#">Got it, Thanks!</a>
  </div>
