---
title: JqPuzzle
---

<div id="wrap" class="remodal-bg">
<img class="logo" src="https://s3.amazonaws.com/myfangate.com/rdpuzzle/sizzlinsummer.png">
<h1 class="h1top">wake up bailando with enrique</h1>
<h2>sweepstakes</h2>
<p class="header-text">Solve the slider puzzle to watch a special message from
Enrique Iglesias and enter for a chance to win!</p>
<center>
<div class="puzzle">
<img src="https://s3.amazonaws.com/myfangate.com/rdpuzzle/puzzleimg.jpg" alt="Animals crossing" id="puzzlestyle" class="jqPuzzle"/>
</div>
<h1 class="h1bottom">grand prize</h1>
<p class="lower-text">One winner will fly to New York to meet 
Enrique Iglesias before his Good Morning America
performance on august 1.</p>
</center>
<div class="gradient">
<p>unlimited entries until july 17</p>
</div>
<%= partial "partials/footer" %>
</div>

<!-- <center>
  <a id="solve" href="#">SEE WHAT HAPPENS WHEN PUZZLE IS SOLVED BY CLICKING HERE</a>
</center> -->

<script>
$(document).ready(function(){
$("#solve").on("click", function(){
share_modal.open();
});
});
</script>

 <div class="remodal" id="share-modal">
    <h1>Congratulations! You've solved the puzzle!</h1>
    <h2>Click here to download your free MP3!</h2>
    <br>
    <i style="cursor:pointer; font-size: 200px;" class="fa fa-cloud-download"></i>
    <br>
    <a class="remodal-confirm modal-ok-style" href="#">Got it, Thanks!</a>
  </div>
