---
title: JqPuzzle
---

<div id="wrap" class="remodal-bg">
<img src="http://blog.gettyimages.com/wp-content/uploads/2013/01/Siberian-Tiger-Running-Through-Snow-Tom-Brakefield-Getty-Images-200353826-001.jpg" alt="Animals crossing" id="puzzlestyle" class="jqPuzzle" />
</div>


 <div class="remodal" id="share-modal">
    <h1>Congratulations! You've defeated The Giant!</h1>
    <h2>Share to redeem your prize</h2>
      <div class="share-icons">
        <div class="share" data-social="facebook">
            <i class="fa fa-facebook-square"></i>
            <p>
            Share on Facebook
            </p>
        </div>
        <div class="share" data-social="twitter">
            <i class="fa fa-twitter-square"></i>
            <p>
            Share on Twitter
            </p>
        </div>
        <div class="share" data-social="google">
            <i class="fa fa-google-plus-square"></i>
            <p>
            Share on Google Plus
            </p>
        </div>
      </div>
    <br>
    <a class="remodal-confirm modal-ok-style" href="#">Keep Playing</a>
  </div>
