---
title: JqPuzzle
---

<div id="wrap" class="remodal-bg">
<img class="logo" src="https://s3.amazonaws.com/myfangate.com/rdpuzzle/sizzlinsummer.png">
<h1 class="h1top">wake up bailando with enrique</h1>
<h2>sweepstakes</h2>
<p class="header-text">Solve the slider puzzle to watch a special message from
Enrique Iglesias and enter for a chance to win!</p>
<center>
<div class="puzzle">
<img src="https://s3.amazonaws.com/myfangate.com/rdpuzzle/puzzleimg.jpg" alt="Animals crossing" id="puzzlestyle" class="jqPuzzle"/>
</div>
<h1 class="h1bottom">grand prize</h1>
<p class="lower-text">One winner will fly to New York to meet 
Enrique Iglesias before his Good Morning America
performance on august 1.</p>
</center>
<div class="gradient">
<p>unlimited entries until july 17</p>
</div>
<%= partial "partials/footer" %>
</div>

<!-- <center>
  <a id="solve" href="#">SEE WHAT HAPPENS WHEN PUZZLE IS SOLVED BY CLICKING HERE</a>
</center> -->

<script>
$(document).ready(function(){
$("#solve").on("click", function(){
share_modal.open();
});
});
</script>

 <div class="remodal" id="share-modal">
    <h1>Congratulations! You've solved the puzzle!</h1>
<div class="ss-form"><form action="https://docs.google.com/a/trendsettermarketing.net/spreadsheet/formResponse?formkey=dHBqdzE1SndjQ1FOM3lTRXFXVldSNGc6MA&amp;ifq" method="POST" id="ss-form">


<br>
<div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">First Name
</label>
<label class="ss-q-help" for="entry_0"></label>
<input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_2">Last Name
</label>
<label class="ss-q-help" for="entry_2"></label>
<input type="text" name="entry.2.single" value="" class="ss-q-short" id="entry_2"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">E-Mail Address
</label>
<label class="ss-q-help" for="entry_1"></label>
<input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_4">Phone Number (Optional)
</label>
<label class="ss-q-help" for="entry_4"></label>
<input type="text" name="entry.4.single" value="" class="ss-q-short" id="entry_4"></div></div></div>
<br> <div class="errorbox-good">
<div class="ss-item  ss-checkbox"><div class="ss-form-entry"><label class="ss-q-title" for="entry_6">
</label>
<label class="ss-q-help" for="entry_6"></label>
<ul class="ss-choices"><li class="ss-choice-item"><label class="ss-choice-label"><input type="checkbox" name="entry.6.group" checked="" value=" By entering I acknowledge that I have read, understand and agree to the Official Rules (link to the attached full rules) and the Terms of Use. *Phone Numbers are optional and will only be used to contact the winner. Entering a phone number does not increase the chances of winning." class="ss-q-checkbox" id="group_6_1">
 By entering I acknowledge that I have read, understand and agree to the Official Rules (link to the attached full rules) and the Terms of Use. *Phone Numbers are optional and will only be used to contact the winner. Entering a phone number does not increase the chances of winning.</label></li>
</ul></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache" value="">


<div class="ss-item ss-navigate"><div class="ss-form-entry">
<input type="submit" name="submit" value="Submit">
<div class="password-warning">Never submit passwords through Google Forms.</div></div></div></form>
<script type="text/javascript">
      
      (function() {
var divs = document.getElementById('ss-form').
getElementsByTagName('div');
var numDivs = divs.length;
for (var j = 0; j < numDivs; j++) {
if (divs[j].className == 'errorbox-bad') {
divs[j].lastChild.firstChild.lastChild.focus();
return;
}
}
for (var i = 0; i < numDivs; i++) {
var div = divs[i];
if (div.className == 'ss-form-entry' &&
div.firstChild &&
div.firstChild.className == 'ss-q-title') {
div.lastChild.focus();
return;
}
}
})();
      </script></div>
    <i style="cursor:pointer; font-size: 200px;" class="fa fa-cloud-download"></i>
    <br>
    <a class="remodal-confirm modal-ok-style" href="#">Got it, Thanks!</a>
  </div>
